<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652800919583-b3g6rcc2qo0ciujpjgt8j0pcja71rles.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652800919583-b3g6rcc2qo0ciujpjgt8j0pcja71rles</string>
	<key>API_KEY</key>
	<string>AIzaSyDYmwuIA2Yq5uPykRUYWN7XfuRnVd88tbo</string>
	<key>GCM_SENDER_ID</key>
	<string>652800919583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productList</string>
	<key>PROJECT_ID</key>
	<string>productview-a8b21</string>
	<key>STORAGE_BUCKET</key>
	<string>productview-a8b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652800919583:ios:d70498100e1be8682eed2a</string>
</dict>
</plist>